@charset "UTF-8";
/*================normalize.cssに追加するリセット=================*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
html{
    font-size: 62.5%;
    }
body{
    width:100%;
    height: 100%;
    font-family: "Roboto", "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:1.6rem;
    line-height:1.8;
    color: #888;
    }
input,textarea{
    font-size: 16px;
    font-family: "Roboto", "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
.wrapper{
    overflow: hidden;
    }
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    padding:0;
    font-weight:normal;
    color:#595757;
    line-height:1;
    }
a{
    text-decoration:none;
    color:#595757;
    outline: none;
    }
img{
    vertical-align:bottom;
    /*==================フルードイメージ==================*/
    max-width: 100%;
    }
ul,
ol{
    list-style-type:none;
    }

/*================normalize.cssに追加するリセットここまで=================*/

/* centering contents */
.inner{
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.inner500{
    max-width: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

/* header */
.header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    filter: drop-shadow(1px 1px 3px #888);
}
.header .inner{
    display: flex;
    justify-content: space-between;
}
.header img{
    height: 40px;
}

/* humberger menu */
#trigger{
    display: none;
}
.trigger_btn{
    display: none;
}

/* navigation */
.nav{
    display: flex;
    align-items: center;
}
.nav ul{
    display: flex;
    line-height: 1;
}
.nav li{
    margin-left: 50px;
    display: flex;
}
.shop{
    display: flex;
    align-items: center;
    color: #595757;
}
.login, .cart{
    display: flex;
}
.shop img{
    margin-left: 30px;
}

.header .title{
    padding-left: 10px;
    margin-top: 10px;
}
/* main cont */

.products-top{
    position: relative;
    margin-top: 60px;
}
.products-top h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* main-copy */

.main-copy{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.main-copy h4{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/* products */
.container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 300px;
}

.cont{
    padding: 50px;
}
h5{
    font-size: 2.4rem;
    font-weight: 500;
    padding-bottom: 10px;
}
h6{
    padding-bottom: 30px;
    font-size: 1.6rem;
}

/* footer */
.footer{
    width: 100%;
    background-color: #666;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    }
.guide{
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    font-size: 1.4rem;
    }
.footer ul{
    display: flex;
    } 
.footer li{
    justify-content: space-between;
    padding-right: 50px;
    }


  /* ------------- animation ------------- */

  /* 下からフェードイン */
.slide-bottom {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1s ease-out;
    }

  /* 左からフェードイン */
.slide-left {
    opacity: 0;
    transform: translate(-20px, 0);
    transition: all 1s ease-out;
    }

  /* 右からフェードイン */
.slide-right {
    opacity: 0;
    transform: translate(20px, 0);
    transition: all 1s ease-out;
    }

  /* ふんわり出てくる */
.fade-in{
    opacity:0;
    transition: all 2s ease-out;
    }

  /* ホバー */
h1:hover,
.nav li:hover,
.login:hover,
.cart:hover,
.see-more:hover,
.cont h4:hover{
    opacity: 0.6;
    }
